<div class="row">
<h3>请评价商品</h3>
<form class="form-horizontal" method="post">
    <div class="control-group">
        <label class="control-label" for="inputPros">优点</label>
        <div class="controls">
            <input type="text" id="inputPros" name="pros" placeholder="优点">
            {if isset($error)}
            <span class="alert alert-error">{echo $error["pros"][0]; }</span>
            {/if}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCons">缺点</label>
        <div class="controls">
            <input type="text" id="inputCons" name="cons" placeholder="缺点">
            {if isset($error)}
            <span class="alert alert-error">{echo $error["cons"][0]; }</span>
            {/if}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputSummary">总结</label>
        <div class="controls">
            <textarea rows="10" cols="10" id="inputSummary" name="summary"></textarea>
            {if isset($error)}
            <span class="alert alert-error">{echo $error["summary"][0]; }</span>
            {/if}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputRate">评分</label>
        <div class="controls">
            <input type="text" id="inputRate" name="rate" placeholder="评分">
            {if isset($error)}
            <span class="alert alert-error">{echo $error["rate"][0]; }</span>
            {/if}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn" name="BtnClicked" value="true">提交</button>
        </div>
    </div>
</form>
</div>